<footer class="txt-center lead-6">
  <!-- content of footer -->
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{{site.link}}">
          {% include 'partials/wordmark.twig' %}
        </a>
      </div>
    </div>
    <div class="row lead-4">
      <div class="col">
        <a href="{{site.link}}/manifesto">
          Manifesto
        </a>
        <a href="{{site.link}}/companies">
          Companies
        </a>
        <a href="{{site.link}}/team">
          Our Team
        </a>
        <a href="{{site.link}}/approach">
          Approach
        </a>
        <a href="{{site.link}}/contact">
          Contact
        </a>
      </div>
    </div>
    <div class="row lead-4">
      <div class="col">
        <p>&copy;
          {{ now|date('Y') }}
          {{ bloginfo('name') }}
          - All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="{{ site.theme.link }}/bundle.js?{{version}}"></script>
