<head>
  <meta charset="{{ site.charset }}" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}" />

  <meta name="twitter:card" content="{{ site.description }}">
  <meta name="twitter:site" content="">

  <meta property="og:title" content="
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  " />
  <meta property="og:site_name" content="{{site.name}}" />
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:url" content="{{site.link}}" />

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ site.theme.link }}/style.css?{{version}}" type="text/css" media="screen" />

  <link rel="author" href="{{ site.theme.link }}/humans.txt" />
  <link rel="shortcut icon" href="{{ site.theme.link }}/favicon.ico">
</head>
