<svg class="logo" viewBox="0 0 46 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="nav" transform="translate(-39.000000, -64.000000)">
            <g id="logo.symbol" transform="translate(40.000000, 65.000000)">
                <polyline id="Stroke-1" stroke="#FDDA0F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" points="2.52525253 13.870101 21.8111111 2.52515152 21.8111111 25.2150505"></polyline>
                <polyline id="Stroke-3" stroke="#2789E0" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" points="2.52525253 36.5596465 21.8111111 25.215202 21.8111111 47.904596"></polyline>
                <polyline id="Stroke-5" stroke="#13B19F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" points="21.8108586 25.215 41.0962121 13.8700505 41.0962121 36.5594444"></polyline>
                <path d="M19.7605556,25.215 C19.7605556,24.0826768 20.6782323,23.1644949 21.8110606,23.1644949 C22.9428788,23.1644949 23.8610606,24.0826768 23.8610606,25.215 C23.8610606,26.3473232 22.9428788,27.265 21.8110606,27.265 C20.6782323,27.265 19.7605556,26.3473232 19.7605556,25.215" id="Fill-7" fill="#000000" fill-rule="evenodd"></path>
                <path d="M19.7605556,2.52520202 C19.7605556,1.39287879 20.6782323,0.47469697 21.8110606,0.47469697 C22.9428788,0.47469697 23.8610606,1.39287879 23.8610606,2.52520202 C23.8610606,3.65752525 22.9428788,4.57570707 21.8110606,4.57570707 C20.6782323,4.57570707 19.7605556,3.65752525 19.7605556,2.52520202" id="Fill-9" fill="#000000" fill-rule="evenodd"></path>
                <path d="M19.7605556,47.9045455 C19.7605556,46.7722222 20.6782323,45.8540404 21.8110606,45.8540404 C22.9428788,45.8540404 23.8610606,46.7722222 23.8610606,47.9045455 C23.8610606,49.0368687 22.9428788,49.9550505 21.8110606,49.9550505 C20.6782323,49.9550505 19.7605556,49.0368687 19.7605556,47.9045455" id="Fill-11" fill="#000000" fill-rule="evenodd"></path>
                <path d="M0.474949495,13.870101 C0.474949495,12.7377778 1.39262626,11.819596 2.52545455,11.819596 C3.65777778,11.819596 4.57545455,12.7377778 4.57545455,13.870101 C4.57545455,15.0024242 3.65777778,15.9206061 2.52545455,15.9206061 C1.39262626,15.9206061 0.474949495,15.0024242 0.474949495,13.870101" id="Fill-13" fill="#000000" fill-rule="evenodd"></path>
                <path d="M0.474949495,36.5596465 C0.474949495,35.4273232 1.39262626,34.5091414 2.52545455,34.5091414 C3.65777778,34.5091414 4.57545455,35.4273232 4.57545455,36.5596465 C4.57545455,37.6919697 3.65777778,38.6101515 2.52545455,38.6101515 C1.39262626,38.6101515 0.474949495,37.6919697 0.474949495,36.5596465" id="Fill-15" fill="#000000" fill-rule="evenodd"></path>
                <path d="M39.0457071,13.870101 C39.0457071,12.7377778 39.9633838,11.819596 41.0962121,11.819596 C42.2285354,11.819596 43.1462121,12.7377778 43.1462121,13.870101 C43.1462121,15.0024242 42.2285354,15.9206061 41.0962121,15.9206061 C39.9633838,15.9206061 39.0457071,15.0024242 39.0457071,13.870101" id="Fill-17" fill="#000000" fill-rule="evenodd"></path>
                <path d="M39.0457071,36.5596465 C39.0457071,35.4273232 39.9633838,34.5091414 41.0962121,34.5091414 C42.2285354,34.5091414 43.1462121,35.4273232 43.1462121,36.5596465 C43.1462121,37.6919697 42.2285354,38.6101515 41.0962121,38.6101515 C39.9633838,38.6101515 39.0457071,37.6919697 39.0457071,36.5596465" id="Fill-19" fill="#000000" fill-rule="evenodd"></path>
            </g>
        </g>
    </g>
</svg>
