<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="menu" transform="translate(-1135.000000, -80.000000)" fill="#000000">
            <g id="icon.close" transform="translate(1134.000000, 80.000000)">
                <path d="M2.23949799,3.38659505 C2.23949799,2.25427182 3.15717476,1.33609 4.29000304,1.33609 C5.42182122,1.33609 6.34000304,2.25427182 6.34000304,3.38659505 C6.34000304,4.51891828 5.42182122,5.43659505 4.29000304,5.43659505 C3.15717476,5.43659505 2.23949799,4.51891828 2.23949799,3.38659505" id="Fill-7" transform="translate(4.289751, 3.386343) rotate(45.000000) translate(-4.289751, -3.386343) "></path>
                <path d="M10.371226,11.518323 C10.371226,10.3859998 11.2889027,9.46781798 12.421731,9.46781798 C13.5535492,9.46781798 14.471731,10.3859998 14.471731,11.518323 C14.471731,12.6506463 13.5535492,13.568323 12.421731,13.568323 C11.2889027,13.568323 10.371226,12.6506463 10.371226,11.518323" id="Fill-7" transform="translate(12.421478, 11.518071) rotate(45.000000) translate(-12.421478, -11.518071) "></path>
                <path d="M18.502954,19.650051 C18.502954,18.5177278 19.4206307,17.599546 20.553459,17.599546 C21.6852772,17.599546 22.603459,18.5177278 22.603459,19.650051 C22.603459,20.7823742 21.6852772,21.700051 20.553459,21.700051 C19.4206307,21.700051 18.502954,20.7823742 18.502954,19.650051" id="Fill-7" transform="translate(20.553206, 19.649798) rotate(45.000000) translate(-20.553206, -19.649798) "></path>
                <path d="M1.83609,19.210502 C1.83609,18.0781788 2.75376677,17.159997 3.88659505,17.159997 C5.01841323,17.159997 5.93659505,18.0781788 5.93659505,19.210502 C5.93659505,20.3428252 5.01841323,21.260502 3.88659505,21.260502 C2.75376677,21.260502 1.83609,20.3428252 1.83609,19.210502" id="Fill-7" transform="translate(3.886343, 19.210249) rotate(-45.000000) translate(-3.886343, -19.210249) "></path>
                <path d="M18.099546,2.94704605 C18.099546,1.81472281 19.0172227,0.896540995 20.150051,0.896540995 C21.2818692,0.896540995 22.200051,1.81472281 22.200051,2.94704605 C22.200051,4.07936928 21.2818692,4.99704605 20.150051,4.99704605 C19.0172227,4.99704605 18.099546,4.07936928 18.099546,2.94704605" id="Fill-7" transform="translate(20.149798, 2.946794) rotate(-45.000000) translate(-20.149798, -2.946794) "></path>
            </g>
        </g>
    </g>
</svg>
