<svg class="nav-icon" viewBox="0 0 28 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
    <title>icon.menu</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="nav" transform="translate(-1132.000000, -88.000000)" fill="#000000">
            <g id="icon.menu" transform="translate(1132.000000, 88.000000)">
                <path d="M0.760555556,2.215 C0.760555556,1.08267677 1.67823232,0.164494949 2.81106061,0.164494949 C3.94287879,0.164494949 4.86106061,1.08267677 4.86106061,2.215 C4.86106061,3.34732323 3.94287879,4.265 2.81106061,4.265 C1.67823232,4.265 0.760555556,3.34732323 0.760555556,2.215" id="Fill-7"></path>
                <path d="M12.2605556,2.215 C12.2605556,1.08267677 13.1782323,0.164494949 14.3110606,0.164494949 C15.4428788,0.164494949 16.3610606,1.08267677 16.3610606,2.215 C16.3610606,3.34732323 15.4428788,4.265 14.3110606,4.265 C13.1782323,4.265 12.2605556,3.34732323 12.2605556,2.215" id="Fill-7"></path>
                <path d="M23.7605556,2.215 C23.7605556,1.08267677 24.6782323,0.164494949 25.8110606,0.164494949 C26.9428788,0.164494949 27.8610606,1.08267677 27.8610606,2.215 C27.8610606,3.34732323 26.9428788,4.265 25.8110606,4.265 C24.6782323,4.265 23.7605556,3.34732323 23.7605556,2.215" id="Fill-7"></path>
            </g>
        </g>
    </g>
</svg>
