<div class="container lead-2">

  <div class="row header">

    <div class="col">
      <a class="{% if page.title == 'Manifesto'%} is-active {%endif%}" href="{{site.link}}">
        {% include 'partials/logo.twig' %}
      </a>
    </div>

    <div class="col button-container js-open-nav">
        {% include 'partials/nav-icon-open.twig' %}
    </div>

    <div class="overlay js-nav">
      <nav class="overlay-menu txt-size-5">
        <ul>
          <li>
            <a class="{% if page.title == 'Manifesto'%} is-active {%endif%}" href="{{site.link}}/manifesto">
              Manifesto
            </a>
          </li>
          <li>
            <a class="{% if page.title == 'Companies'%} is-active {%endif%}" href="{{site.link}}/companies">
              Companies
            </a>
          </li>
          <li>
            <a class="{% if page.title == 'Our Team'%} is-active {%endif%}" href="{{site.link}}/team">
              Our Team
            </a>
          </li>
          <li>
            <a class="{% if page.title == 'Approach'%} is-active {%endif%}" href="{{site.link}}/approach">
              Approach
            </a>
          </li>
          <li>
            <a class="{% if page.title == 'Contact'%} is-active {%endif%}" href="{{site.link}}/contact">
              Contact
            </a>
          </li>
        </nav>
      </div>

    </div>

  </div>
