
// ┌──────────────────────┐
// │ Settings & Variables │
// └──────────────────────┘
//
// ┌────────────┐
// │ STRUCTURAL │
// └────────────┘
// ┌──────────────────┐
// │ Scales:  Musical │
// └──────────────────┘
$octave:                 2;
$major7th:               1.875;
$minor7th:               1.778;
$major6th:               1.667;
$minor6th:               1.6;
$fifth:                  1.5;
$dim5th:                 1.414;
$aug4th:                 1.414;
$fourth:                 1.33;
$major3rd:               1.25;
$minor3rd:               1.2;
$major2nd:               1.125;
$minor2nd:               1.067;
$unison:                 1;
// ┌───────────────┐
// │ Scales: Other │
// └───────────────┘
$golden:                 1.618;

// ┌────────────┐
// │ TYPOGRAPHY │
// └────────────┘
// ┌────────────┐
// │ Type:Sizes │
// └────────────┘
$base-size:              18;
$point:                  (1/$base-size);
$rem-size:               $base-size * 1px;
$ratio:                  $golden;
$body-size:              1rem;
$small-size:             0.85rem;
$baseline:               (4 / $base-size) * 1rem;
$leading:                7 * $baseline;
$indent:                 1em;
$type-sizes: (
  (12, 20),
  (16, 20),
  (18, 28),
  (20, 28),
  (28, 36),
  (38, 46),
  (42, 52)
);

// ┌────────────┐
// │ Type:Faces │
// └────────────┘

@import url('https://fonts.googleapis.com/css?family=Noticia+Text:400,700');

// ┌─────────────┐
// │ Type:Stacks │
// └─────────────┘

$notica: 'Noticia Text', serif;

// ┌─────────────────────┐
// │ Type:CSS Generation │
// └─────────────────────┘
$include-leading:                 true;
$leading-responsive:      true;
$tracking:                     false;
$tracking-responsive:          false;
$word-spacing:                 false;
$word-spacing-responsive:      false;
$alignment:               true;
$alignment-responsive:    true;
$font-scale:                   false;
$font-scale-responsive:        false;
$font-size:               true;
$font-size-responsive:         false;
$font-weight:             true;
  $fw-thin:                    false;
  $fw-light:              true;
  $fw-regular:            true;
  $fw-medium:                  false;
  $fw-demi:                    false;
  $fw-bold:               true;
  $fw-black:                   false;
$font-weight-responsive:       false;
$font-style:              true;
$font-style-responsive:        false;

// ┌──────┐
// │ GRID │
// └──────┘
// ┌──────────────────┐
// │ Container Widths │
// └──────────────────┘
$container-ratio:        1;
$container-ratio-medium: 1;
$container-ratio-large:  1;
$max-width:              55.5rem;
// ┌───────────────┐
// │ Grid: Columns │
// └───────────────┘
$gutter:                 5%;
$col-count:              12;
// ┌───────────────┐
// │ Grid: Spacing │
// └───────────────┘
$vertical-range: 6;
$spacing: (
  padding-x: $gutter,
  padding-y: $baseline,
  padding-outer-x: $gutter / 2,
  padding-outer-y: $baseline
);
$padding-x: map-get($spacing, padding-x);
$padding-y: map-get($spacing, padding-y);
$padding-outer-x: map-get($spacing, padding-outer-x);
$padding-outer-y: map-get($spacing, padding-outer-y);


// ┌─────────────────────────┐
// │ Media Query Breakpoints │
// └─────────────────────────┘
$small:                  33rem;
$large:                  45rem;


// ┌────────┐
// │ Colors │
// └────────┘
$green: #18a362;
$light-green: #1dbf73;

$blue: #2789E0;

$black: #000000;
$grey: #C7C8CA;
$dark-grey: #8f8f8f;
$medium-grey: #bdbdbd;
$light-grey: #e8e8e8;
$lighter-grey: #fa0000;
$white: #ffffff;

$red: #f9f9f9;
$gold: #b4966e;
$light-gold: #DAB685;

// ┌─────────┐
// │ Borders │
// └─────────┘

$border-medium-grey: 1px solid $medium-grey;
