<html>

  {% include 'partials/head.twig' %}

  <body class="{{body_class}} {{page.title|lower}}">

    <div class="wrapper">

      {% include 'partials/navigation.twig' %}

      <!-- content of page -->
      <main>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </main>

    </div>

    {% include 'partials/footer.twig' %}

  </body>

</html>
