{% extends "layouts/layout.twig" %}

{% block content %}
  <div class="txt-center">
    <h1 class="txt-size-7 lead-6 main-heading">{{page.main_heading}}</h1>
    <h2 class="txt-size-1 lead-6 cta-heading">{{page.cta_heading}}</h2>
    <p class="txt-size-5 lead-1">
      <a class="cta" href="{{page.cta_link}}">{{page.cta_text}}</a>
    </p>
  </div>
{% endblock %}
