.header {
  .logo {
    width: 2.4rem;
    margin: $baseline * 5 0;
  }

  .button-container {
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    position: relative;
    left: 30%;
    top: 10%;
    svg {
      width: 2.4rem;
      margin: $baseline * 5 0;
    }
  }

  .overlay {
    position: fixed;
    background: $blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
      height: 100%;

      li {
        animation: fadeInTop 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }

        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
        &:nth-of-type(5) {
          animation-delay: 0.55s;
        }
      }
    }

    nav {
      position: relative;
      height: 50%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 20%;
        height: calc(100% / 5);
        min-height: 50px;
        position: relative;
        opacity: 0;

        a {
          display: block;
          position: relative;
          text-decoration: none;
          overflow: hidden;
          &:hover {
            color: $black;
            opacity: .2;
          }
        }
      }
    }
  }
}
